/* 
=====================
=====================
        css reset 
====================
====================
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* 
=====================
=====================
        root 
====================
====================
*/
:root {
  font-size: 62.5%;
  --Soft-Blue: hsl(231, 69%, 60%);
  --Soft-Red: hsl(0, 94%, 66%);
  --Soft-Green: hsl(92deg 58% 50%);
  --Soft-Gray: #f7f7f7;
  --Grayish-Blue: hsl(229, 8%, 60%);
  --Very-Dark-Blue: hsl(229, 31%, 21%);
  --Soft-Very-Dark-Blue: hsla(229, 31%, 21%, 0.911);
  --font-weight-1: 400;
  --font-weight-2: 500;
  font-family: "Rubik", sans-serif;
  --transition-1: 0.2s;
  --transition-2: 0.5s;
  --elements-width-1: min(90%, 111rem);
  --elements-width-2: min(100%, 64.8rem);
  --elements-width-3: min(100%, 53.9rem);
  position: relative;
}
body {
  font-size: 1.8rem;
  color: var(--Very-Dark-Blue);
  text-align: center;
}
/* 


buttons 


*/
button {
  background: var(--Soft-Blue);
  border: none;
  color: white;
  border-radius: 0.4em;
  padding: 0.88em 2em;
  transition: var(--transition-1);
  cursor: pointer;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.089);
}
button:hover {
  background: white;
  box-shadow: 0px 0px 0px 0.2rem var(--Soft-Blue) inset;
  color: var(--Soft-Blue);
}
.red-btn {
  background: var(--Soft-Red);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.red-btn:hover {
  background: white;
  box-shadow: 0px 0px 0px 0.2rem var(--Soft-Red) inset;
  color: var(--Soft-Red);
}
.gray-btn {
  background: var(--Soft-Gray);
  color: var(--Grayish-Blue);
  box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.082);
}
.gray-btn:hover {
  box-shadow: 0px 0px 0px 0.2rem var(--Grayish-Blue) inset;
  color: var(--Grayish-Blue);
}
/* 


lists 


*/
li {
  cursor: pointer;
}
/* 


titles 


*/
h1 {
  font-size: clamp(2.3rem, 0.5rem + 7.2vw, 4.5rem);
}
h2 {
  font-size: clamp(1.9rem, 0.5rem + 7.2vw, 2.9rem);
}
h3 {
  font-size: clamp(1.4rem, 0.5rem + 7.2vw, 1.8rem);
}
p {
  font-size: clamp(1.1rem, 0.5rem + 8.2vw, 1.6rem);
  color: var(--Grayish-Blue);
}
/* 
=====================
=====================
        navigation 
====================
====================
*/
nav {
  width: 100%;
  display: grid;
  place-items: center;
  margin-bottom: 6.8rem;
}
.nav-center {
  width: var(--elements-width-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3.2rem;
  z-index: 99;
}
.nav-links-container {
  display: none;
}
@media (min-width: 62.5em) {
  .nav-links-container {
    display: flex;
    align-items: center;
    gap: 5rem;
    font-weight: var(--font-weight-1);
  }
  .hamburger {
    display: none;
  }
}
/* 



hamburger menu 



*/
.hamburger {
  background: transparent;
  box-shadow: none;
  padding: 0;
}
.hamburger svg path {
  fill: var(--Very-Dark-Blue);
}
.hamburger:hover {
  box-shadow: none;
  background: transparent;
}
.hamburger > svg path:nth-of-type(2) {
  display: none;
}
.hamburger > svg path:nth-of-type(1) {
  display: block;
}
/* 


sidemenu options 


*/
.sidemenu-nav .hamburger svg path {
  fill: white;
}
.sidemenu-nav .nav-center > svg g path {
  fill: white;
}
.sidemenu-nav .hamburger > svg path:nth-of-type(1) {
  display: none;
}
.sidemenu-nav .hamburger > svg path:nth-of-type(2) {
  display: block;
}
/* 
=====================
=====================
        hero 
====================
====================
*/
main {
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  position: relative;
  overflow-x: hidden;
}
.main-center {
  width: var(--elements-width-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

/* image */
.hero-image {
  width: var(--elements-width-2);
  position: relative;
  isolation: isolate;
}
.hero-image img {
  width: 100%;
}
.hero-image::before {
  content: "";
  width: 100%;
  height: 70%;
  position: absolute;
  bottom: 0;
  left: 13rem;
  background: var(--Soft-Blue);
  z-index: -1;
  border-radius: 15rem;
}

/* text */
.hero-content {
  margin-bottom: 12.3rem;
}
.hero-content h1 {
  margin-bottom: 1rem;
}
.hero-content p {
  margin-bottom: 4rem;
}

@media (min-width: 62.5em) {
  .hero {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 12.3rem;
  }
  .hero-content {
    max-width: 48.7rem;
    text-align: left;
    gap: 10.5rem;
    margin-bottom: 0;
  }
  .hero-content p {
    letter-spacing: 0.1rem;
  }
  .hero-image::before {
    width: 200%;
  }
  .hero-image {
    position: relative;
    left: 6rem;
  }
}

/* 
=====================
=====================
        features 
====================
====================
*/
.features {
  margin-bottom: 12.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-text {
  width: var(--elements-width-3);
  margin-bottom: 3rem;
}
.section-text h2 {
  margin-bottom: 1.5rem;
}

.features-btns {
  width: 100%;
  margin-bottom: 5.8rem !important;
}
.features-btns li {
  padding: 1.5rem 0;
  border: 0.1rem solid var(--Grayish-Blue);
  border-right: none;
  border-left: none;
  position: relative;
  color: var(--Grayish-Blue);
}
.features-btns li:not(.features-btns li:first-of-type) {
  border-top: none;
}
.features-btns li::after {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border-bottom: 0.25em solid var(--Soft-Red);
  transition: var(--transition-1);
}
.features-btns .feature-selected::after {
  width: 35%;
}
.feature-selected {
  color: var(--Very-Dark-Blue) !important;
}
@media (min-width: 62.5em) {
  .features .section-text {
    margin-bottom: 6.5rem;
  }
  .features-btns {
    width: min(100%, 73rem);
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
  .features-btns li {
    border-top: none;
    padding-top: 0;
  }
  .features-btns .feature-selected::after {
    width: 100%;
  }
}

/* content */
.features-content-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 100%);
}
.features-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: var(--transition-2);
}
.features-img {
  width: var(--elements-width-2);
  position: relative;
  margin-bottom: 6.7rem;
}
.features-img img {
  width: 100%;
}
.features-img::before {
  content: "";
  width: 150%;
  height: 80%;
  position: absolute;
  bottom: -4rem;
  right: 3rem;
  background: var(--Soft-Blue);
  z-index: -1;
  border-radius: 15rem;
}
@media (min-width: 62.5em) {
  .features-content {
    flex-direction: row;
    align-items: flex-start;
    gap: 12.5rem;
  }
  .features-img {
    margin-bottom: 0;
  }
}

/* features text */
.features-content-text {
  width: var(--elements-width-3);
}
.features-content-text h2 {
  margin-bottom: 1.5rem;
}
.features-content-text p {
  margin-bottom: 3.5rem;
}
.features-content-text button {
  display: none;
}
@media (min-width: 62.5em) {
  .features-content-text {
    text-align: left;
  }
  .features-content-text button {
    display: block;
  }
}

/* 
=====================
=====================
      extensions 
====================
====================
*/
.download-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-bottom: 11.5rem;
}
.browsers-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 7.3rem;
}
.browsers-container li {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5em;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  padding-top: 0rem;
}
.browsers-container li button {
  font-size: clamp(1.1rem, 0.5rem + 7.2vw, 1.6rem);
  margin: 2rem;
}
.browsers-container li .browser-info {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-image: url("./images/bg-dots.svg");
  background-repeat: no-repeat;
  background-position: bottom 0 left 0;
  background-size: contain;
}
.browser-info img {
  margin-bottom: 3rem;
}
.browser-info h3 {
  margin-bottom: 0.3rem;
}
@media (min-width: 62.5em) {
  .download-section {
    margin-bottom: 23.5rem;
  }
  .browsers-container {
    flex-direction: row;
    gap: 3.2rem;
  }
  .browsers-container li:nth-of-type(2) {
    position: relative;
    top: 4rem;
  }
  .browsers-container li:nth-of-type(3) {
    position: relative;
    top: 8rem;
  }
}
/* 
=====================
=====================
      questions 
====================
====================
*/
.questions-section {
  width: min(100%, 54rem);
  margin: 0 auto;
  margin-bottom: 10rem;
}
.questions-section .section-text {
  margin-bottom: 4.2rem;
}

.questions-container {
  padding-inline-start: 0;
  margin-bottom: 5.5rem !important;
}
.questions-container li {
  padding: 2rem 0;
  border-bottom: 0.1rem solid var(--Grayish-Blue);
}
.questions-container li:first-of-type {
  border-top: 0.1rem solid var(--Grayish-Blue);
}

/* question */
.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.questions-container p {
  text-align: justify;
}
.question-arrow {
  transition: var(--transition-1);
}
.question h3 {
  font-weight: var(--font-weight-2);
  transition: var(--transition-1);
}
.questions-container li:hover h3 {
  color: var(--Soft-Red);
}
.question svg {
  transform: rotate(180deg);
}
.question svg path {
  stroke: var(--Soft-Red);
}

/* hide question */
.hide-question h3 {
  margin-bottom: 0;
}
.hide-question svg {
  transform: rotate(0deg);
}
.hide-question svg path {
  stroke: var(--Soft-Blue);
}
.hide-question p {
  display: none;
}
.hide-question .question {
  margin-bottom: 0;
}

/* 
=====================
=====================
      footer 
====================
====================
*/
footer {
  color: white;
}
footer p {
  color: white;
}
footer h2 {
  font-size: clamp(2rem, 4vw, 3rem);
  color: white;
  font-weight: var(--font-weight-2);
}
.upper-footer-container {
  width: 100%;
  min-height: 36rem;
  background: var(--Soft-Blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 


upper footer 


*/
.upper-footer {
  width: min(90%, 44.3rem);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 6.7rem 0;
}
.upper-footer h2 {
  margin-bottom: 2.6rem;
}
.upper-footer p {
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: clamp(1.1rem, 4vw, 1.5rem);
}
.upper-footer form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.input-container {
  width: 100%;
  position: relative;
  transition: var(--transition-2);
}
.upper-footer input {
  width: 100%;
  min-height: 4.8rem;
  border-radius: 0.5em;
  outline: none;
  border: none;
  margin-bottom: 1.5rem;
  padding: 0rem 1.8rem;
  font-size: 1.5rem;
  position: relative;
}
@media (min-width: 62.5em) {
  .upper-footer form {
    flex-direction: row;
    gap: 1.6rem;
  }
  .upper-footer form button {
    text-transform: capitalize;
    white-space: nowrap;
    padding: 0em 2rem;
    max-height: 4.8rem;
  }
}

/* 


input error 


*/
.input-error {
  margin-bottom: 3rem;
  isolation: isolate;
  border: 0.2rem solid var(--Soft-Red);
  border-radius: 0.5em;
}
.input-error::after {
  content: "Whoops, make sure it's an email";
  width: calc(100% + 0.4rem);
  height: 3rem;
  position: absolute;
  bottom: -1rem;
  left: 0;
  color: white;
  background: var(--Soft-Red);
  z-index: -1;
  text-align: left;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  transform: translateX(-0.2rem);
}
.input-error input {
  background: white url("./images/icon-error.svg") no-repeat;
  background-position: right 1rem top 50%;
}
/* 


input error 


*/
.input-success {
  margin-bottom: 3rem;
  isolation: isolate;
  border: 0.2rem solid var(--Soft-Green);
  border-radius: 0.5em;
}
.input-success::after {
  content: "Thanks for contacting us !";
  width: calc(100% + 0.4rem);
  height: 3rem;
  position: absolute;
  bottom: -1rem;
  left: 0;
  color: white;
  background: var(--Soft-Green);
  z-index: -1;
  text-align: left;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  transform: translateX(-0.2rem);
}

/* 


lower footer 


*/
.lower-footer-container {
  width: 100%;
  min-height: 8.8rem;
  background: var(--Very-Dark-Blue);
  padding: 5.1rem 0 0 0rem;
  display: grid;
  place-items: center;
}
.lower-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline-start: 0;
  gap: 2rem;
  margin-bottom: 5rem !important;
}
.footer-links-container:last-of-type {
  flex-direction: row;
}
.footer-links-container li:hover svg path,
.nav-links-container li:hover {
  fill: var(--Soft-Red);
  color: var(--Soft-Red);
}
.lower-footer > svg {
  margin-bottom: 3rem;
}
@media (min-width: 62.5em) {
  .lower-footer {
    width: var(--elements-width-1);
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .footer-links-container {
    flex-direction: row;
    gap: 4.5rem;
    font-weight: var(--font-weight-1);
  }
}

/* 
==================
==================
      sidemenu 
==================
==================
*/
.sidemenu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--Soft-Very-Dark-Blue);
  color: white;
  transform: translateX(200%);
  transition: var(--transition-2);
}
.sidemenu-center {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sidemenu-links {
  width: min(100%, 31rem);
  position: relative;
  top: 10.5rem;
}
.sidemenu-links li {
  border-top: 0.1rem solid var(--Grayish-Blue);
  padding: 2rem 0;
  font-weight: var(--font-weight-1);
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}
.sidemenu-center > div {
  position: absolute;
  bottom: 4rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}
.sidemenu-links button {
  width: 100%;
  background: transparent;
  border: 0.2rem solid white;
  letter-spacing: 0.4rem;
  font-weight: var(--font-weight-1);
}
.sidemenu-links button:hover {
  box-shadow: none;
  color: var(--Grayish-Blue);
  border: 0.2rem solid var(--Grayish-Blue);
}
.show-sidemenu {
  transform: translateX(0);
}
